.mintableheight {
    height: 120px;
    overflow-y: scroll;
  }
  .maxtableheight {
    height: 180px;
    overflow-y: scroll;
  }
  .minanomalyheight {
    overflow-y: scroll;
  }
  .minclarifyheight {
    overflow: scroll;
  }
  .pin{
    margin-right: 10px;
  }
  .card-shadow{
    box-shadow: rgb(198 178 240) 0px 10px 15px;
  }
  .card-title{
    font-weight: 400;
    font-size: 16px;
  }