.table > :not(:first-child) {
  border-top: 2px solid #008768 !important;
}

.ant_row_m0 {
  margin: 0px !important;
}
.mt-1 {
  margin-top: 5px;
}
.folderview_bg {
  background-color: rgba(233, 233, 233, 0.853);
  width: 100%;
  height: 230px;
  margin-left: -5px;
  margin-top: -35px;
  border-radius: 8px;
  overflow-y: auto;
  /* color:#fff */
  /* border:2px solid red  ; */
}
.submitButton {
  background-color: #1885f2 !important;
  color: #fff;
}
.submitButton:hover {
  background-color: #1885f2 !important;
  color: #fff;
}
.cardbdbtm
/* align end */
.align_end {
  text-align: end;
  /* border:2px solid red; */
}
.algin_start {
  text-align: start;
}
.align_end i {
  margin: 7px 10px 0px 10px;
  /* position: fixed; */
  position: sticky;
}
.align_end .fa-play {
  margin: 7px;
  /* position: fixed; */
  position: sticky;
}
.mt_icon {
  margin-top: 115px;
}
.antd_table {
  border: none !important;
}
.antd_table td {
  background-color: none !important;
}
.antd_table thead {
  background-color: none !important;
  border: none !important;
}
.antd_table thead tr {
  background-color: none !important;
  border: none !important;
}
.antd_table .ant-table-row {
  background-color: none !important;
  border: none !important;
}
.antd_table .ant-table-tbody > tr > td {
  background-color: none !important;
  border: none !important;
}
.ant-table-thead > tr > th {
  background: rgba(233, 233, 233, 0.853);
}
.ant-table-tbody > tr > td {
  padding: 0px;
}
.antd_table tbody.ant-table-tbody {
  background-color: rgba(233, 233, 233, 0.853) !important;
  border: none !important;
}
.antd_table_file_design {
  width: 200px;
}
.antd_table .ant-table-container table > thead > tr:first-child th:last-child {
  border: none !important;
}
.color-f8d775 {
  color: #f8d775 !important;
}
.icon_folsize {
  font-size: 18px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.ant-table-thead > tr > th {
  padding: 0px;
}
.icon_filsize {
  font-size: 20px;
}
.color-008768 {
  color: #008768;
}
.cardbdbtm .ant-card-head {
  border-bottom: 0 none;
}
