.marker-edit-icon {
  position: absolute;
  left: 11px;
  top: 80px;
  z-index: 999;
  padding: 4px 5px 6px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 5px;
  width: auto;
  color: #000;
  background: #ffffff;
  cursor: pointer;
}

.save-icon {
  position: absolute;
  left: 11px;
  top: 108px;
  z-index: 999;
  padding: 4px 5px 6px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 5px;
  width: auto;
  color: #000;
  background: #ffffff;
  cursor: pointer;
}
.cancel-icon {
  position: absolute;
  left: 61px;
  top: 108px;
  z-index: 999;
  padding: 4px 5px 6px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 5px;
  width: auto;
  color: #000;
  background: #ffffff;
  cursor: pointer;
}

.editBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 500;
}
